Django                        
django-cors-headers           
django-environ                
djangorestframework           
djangorestframework-simplejwt
environ                      
pip                           
psycopg2-binary               
PyJWT                        
sqlparse                      
tzdata                      
gunicorn 
Pillow
